.scroll-post{
     display: flex;
    justify-content: center;
    align-Items: center;
}
.scroll-button__container
{
            display: flex;
            justify-content: center;
            align-Items: center;
            height: 100%;
            margin-right: -30px;
            z-index: 2000;
}
.scroll-button{
      background: white;
              float: right;
              height: 50px;
              border-radius: 50px;
              box-shadow: 1px 1px 1px grey;
              width: 50px;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;

}
.scroll-button:hover
{
    cursor: pointer;
}