
.zoom {
 
  transition: transform .2s;
 
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}
.imageContainer {
 height:250px;
 width:320px;
 border-radius:10px;
 overflow:hidden;
}
.title-container{
   display: "flex";
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 2%;
}